<!DOCTYPE html>

{%  load bootstrap %}
{% load static %}

<html>
    <head>
        <title>
            THEE GALLERY
        </title>

        <!-- CSS -->

        <link rel="stylesheet" href="{% static 'photo/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.17.2/simplelightbox.min.css">\

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'photo/js/simple-lightbox.min.js' %}"></script>
    </head>
    <body>
	    <div class='container'>
		    <div class="gallery">
                {% block content %}
                {% endblock %}
		    </div>
		</div>
        {% block extra_js %}
        {% endblock  %}
    </body>
</html>
</html>